<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Статья</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5" style="flex-grow:1">
    <h1 th:text="'Комментарии к пользователю: '"></h1>
    <div th:each="com : ${comment}" class="alert alert-info mt-2">
        <form class="form-inline">
            <pre style="background-blend-mode: overlay; white-space: break-spaces;font-size: x-large;">Автор:</pre>
            <a th:text="${com.getAuthorName}" th:href="'/user/id' + ${com.getAuthorId}" class="p-2 text-dark" style="font-size: x-large;"></a><br>
        </form>
        <pre th:text="${com.note}" style="background-blend-mode: overlay; white-space: break-spaces;font-size: x-large;"></pre>
        <form th:action="'/comment/' + ${com.id} + '/remove'" th:if="${com.getAuthorId} == ${myId}" method="post">
            <button class="btn btn-warning" type="submit">Удалить</button>
        </form>
    </div>
    <div>
        <form method="post">
            <input type="text" name="note" placeholder="Оставьте ваш комментарий" class="form-control"><br>
            <form th:action="'/user/id' + ${user.id} + '/addComment'" method="post">
                <button class="btn btn-warning" type="submit">Добавить</button>
            </form>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>