<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head>
    <title>HospNet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="display:flex; flex-direction:column; height: 100%">
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5" style="flex-grow:1">
    <h1>Предложения хостов</h1>
    <table cellpadding="3">
        <div>
            <form method="post">
                <td>
                    <input type="text" name="country" placeholder="Страна" class="form-control"/>
                </td>
                <td>
                    <input type="text" name="city" placeholder="Город" class="form-control"/>
                </td>
                <td>
                    <form th:action="'/hosts-offer/search'" method="post">
                        <button class="btn btn-warning" type="submit">Поиск</button>
                    </form>
                </td>
            </form>
        </div>
    </table>
    <div th:each="el : ${offerHosts}" class="alert alert-info mt-2">
        <h3 th:text="'Автор: ' + ${el.getAuthorName}"></h3>
        <h3 th:text="'Страна: ' + ${el.country}"></h3>
        <h3 th:text="'Город: ' + ${el.city}"></h3>
        <p th:text="'Карткая информация: ' + ${el.name}"></p>
        <p><b>Просмотры:</b> <span th:text="${el.views}"/></p>
        <a th:href="'/hosts-offer/' + ${el.id}" class="btn btn-warning">Детальнее</a>
    </div>
</div>

<a align="center" th:text="${namePrevious}" th:href="'/hosts-offer/page' + ${previous}" class="p-2 text-dark" style="font-size: x-large;"></a>
<a align="center" th:text="${nameNext}" th:href="'/hosts-offer/page' + ${next}" class="p-2 text-dark" style="font-size: x-large;"></a>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>