<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HospNet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <div th:each="el : ${post}" class="alert alert-info mt-2">
        <h1>Редактирование предложения</h1>
        <form method="post">
            <div th:if="${nameError}">
                <input type="text" th:value="${el.name}" name="name" placeholder="Введите название для предложения" class="form-control is-invalid">
                <div class="invalid-feedback">
                    <label th:text="${nameError}"/>
                </div>
            </div>
            <div th:unless="${nameError}">
                <input type="text" th:value="${el.name}" name="name" placeholder="Введите название предложения" class="form-control"><br>
            </div>

            <div th:if="${countryError}">
                <input type="text" th:value="${el.country}" name="country" placeholder="Введите страну" class="form-control is-invalid">
                <div class="invalid-feedback">
                    <label th:text="${countryError}"/>
                </div>
            </div>
            <div th:unless="${countryError}">
                <input type="text" th:value="${el.country}" name="country" placeholder="Введите страну" class="form-control"><br>
            </div>

            <div th:if="${cityError}">
                <input type="text" th:value="${el.city}" name="city" placeholder="Введите город" class="form-control is-invalid">
                <div class="invalid-feedback">
                    <label th:text="${cityError}"/>
                </div>
            </div>
            <div th:unless="${cityError}">
                <input type="text" th:value="${el.city}" name="city" placeholder="Введите город" class="form-control"><br>
            </div>

            <div th:if="${causeVisitError}">
                <input type="text" th:value="${el.causeVisit}" name="causeVisit" placeholder="Введите причину приезда" class="form-control is-invalid">
                <div class="invalid-feedback">
                    <label th:text="${causeVisitError}"/>
                </div>
            </div>
            <div th:unless="${causeVisitError}">
                <input type="text" th:value="${el.causeVisit}" name="causeVisit" placeholder="Введите причину приезда" class="form-control"><br>
            </div>

            <div th:if="${aboutBaggageError}">
                <input type="text" th:value="${el.aboutBaggage}" name="aboutBaggage" placeholder="Введите информацию о багажеа" class="form-control is-invalid">
                <div class="invalid-feedback">
                    <label th:text="${aboutBaggageError}"/>
                </div>
            </div>
            <div th:unless="${aboutBaggageError}">
                <input type="text" th:value="${el.aboutBaggage}" name="aboutBaggage" placeholder="Введите информацию о багаже" class="form-control"><br>
            </div>

            <div th:if="${aboutOfferError}">
                <textarea name="aboutOffer" placeholder="Введите описание предложения" class="form-control is-invalid" th:text="${el.aboutOffer}" style="height:250px"></textarea>
                <div class="invalid-feedback">
                    <label th:text="${aboutOfferError}"/>
                </div>
            </div>
            <div th:unless="${aboutOfferError}">
                <textarea name="aboutOffer" placeholder="Введите описание предложения" class="form-control" th:text="${el.aboutOffer}" style="height:70px" /><br>
            </div>


            <form th:action="'/guests-offer/' + ${el.id} + '/edit/complete'" method="post">
                <button class="btn btn-warning" type="submit">Обновить</button>
            </form>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>