<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Статья</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <div th:each="el : ${offerHost}" class="alert alert-info mt-2">
        <a th:text="${el.getAuthorName}" th:href="'/user/id' + ${el.getAuthorId}" class="p-2" style="font-size: x-large;"></a>
        <h3 th:text="'Страна: ' + ${el.country}" style="text-align"></h3>
        <h3 th:text="'Город: ' + ${el.city}" style="text-align"></h3>
        <pre th:text="'Описание предложения: ' + ${el.aboutOffer}" style="background-blend-mode: overlay; white-space: break-spaces;"></pre>
        <a th:href="'/hosts-offer/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a><br><br>
        <form th:action="'/hosts-offer/' + ${el.id} + '/remove'" method="post">
            <button class="btn btn-warning" type="submit">Удалить</button>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>