<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head>
    <title>Добавление статьи</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="display:flex; flex-direction:column; height: 100%">
<header th:insert="blocks/header :: header"></header>


<div class="container mt-5 mb-5" style="flex-grow:1">
    <div class="alert alert-info mt-2">
        <h1>Добавление предложения гостя</h1>
        <form action="/offer-guest-add" method="post">
            <input type="text" name="name" placeholder="Введите название для предложения" class="form-control"><br>
            <input type="text" name="country" placeholder="Введите страну" class="form-control"><br>
            <input type="text" name="city" placeholder="Введите город" class="form-control"><br>
            <input type="text" name="causeVisit" placeholder="Введите причину приезда" class="form-control"><br>
            <input type="text" name="aboutBaggage" placeholder="Введите информацию о багаже" class="form-control"><br>
            <textarea name="aboutOffer" placeholder="Введите описание предложения" class="form-control" style="height:250px"></textarea><br>
            <form th:action="'/offer-guest-add/complete'" method="post">
                <button class="btn btn-warning" type="submit">Добавить предложение</button>
            </form>
        </form>
    </div>
</div>


<div th:insert="blocks/footer :: footer"></div>
</body>
</html>