<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>HospNet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <div th:each="el : ${offerGuest}" class="alert alert-info mt-2">
        <center><a align="center" th:text="${el.getAuthorName}" th:href="'/user/id' + ${el.getAuthorId}" class="p-2 text-dark" style="font-size: xx-large;"></a></center>
        <h3 th:text="'Страна: ' + ${el.country}" style="text-align"></h3>
        <h3 th:text="'Город: ' + ${el.city}" style="text-align"></h3>
        <h3 th:text="'Причина визита: ' + ${el.causeVisit}" style="text-align"></h3>
        <h3 th:text="'Информация о багаже: ' + ${el.aboutBaggage}" style="text-align"></h3>
        <center><h3 style="text-align">Описание предложения</h3></center>
        <pre th:text="${el.aboutOffer}" style="background-blend-mode: overlay; white-space: break-spaces;font-size: xx-large;"></pre>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>