<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Статья</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <div th:each="el : ${user}" class="alert alert-info mt-2">
        <img th:src="@{/img/{avatar}(avatar = ${el.avatar})}">
        <h3 th:text="'Имя пользователя: ' + ${el.fullName}" style="text-align"></h3><br>
        <h3 th:text="'Страна: ' + ${el.country}" style="text-align"></h3><br>
        <h3 th:text="'Город: ' + ${el.city}" style="text-align"></h3><br>
        <h3 th:text="'Адрес электронной почты: ' + ${el.emailAddress}" style="text-align"></h3><br>
        <h3 th:text="'Информация о пользователе: ' + ${el.aboutUser}" style="text-align"></h3><br>
        <a href="/profile/edit" class="btn btn-warning">Редактировать профиль</a>
    </div>
</div>

<div class="container mt-5" style="flex-grow:1">
    <h1>Комментарии к пользователю</h1>
    <div th:each="war : ${warning}" class="alert alert-info mt-2">
        <p th:text="${war}"/>
    </div>
    <div th:each="com : ${comment}" class="alert alert-info mt-2">
        <h3 th:text="'Автор: ' + ${com.getAuthorName}"></h3>
        <h3 th:text="'комментарий: ' + ${com.note}"></h3>
    </div>
    <div>
        <form method="post">
            <input type="text" name="note" placeholder="Оставьте ваш комментарий" class="form-control"><br>
            <form th:action="'/user/id' + ${user.id} + '/addComment'" method="post">
                <button class="btn btn-warning" type="submit">Добавить</button>
            </form>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>