<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Статья</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <div th:each="el : ${user}" class="alert alert-info mt-2">
        <table>
            <td>
                <img width="250" th:src="@{/img/{avatar}(avatar = ${el.avatar})}">
                <pre style="background-blend-mode: overlay; white-space: break-spaces;font-size: small;"> </pre>
                <center><a href="/profile/edit" class="btn btn-warning">Редактировать профиль</a></center>
            </td>
            <td>
                <h3 th:text="'Имя пользователя: ' + ${el.fullName}" style="text-align"></h3>
                <h3 th:text="'Страна: ' + ${el.country}" style="text-align"></h3>
                <h3 th:text="'Город: ' + ${el.city}" style="text-align"></h3>
                <h3 th:text="'Адрес электронной почты: ' + ${el.emailAddress}" style="text-align"></h3>
            </td>
        </table><br>
        <center><h3 style="text-align">Информация о пользователе</h3></center><br>
        <pre th:text="${el.aboutUser}" style="background-blend-mode: overlay; white-space: break-spaces;font-size: x-large;"></pre>

    </div>
</div>


<div class="container mt-5" style="flex-grow:1">
    <h1>Предложения пользователя</h1>
    <div th:each="el : ${offerHosts}" class="alert alert-info mt-2">
        <h3 th:text="'Автор: ' + ${el.getAuthorName}"></h3>
        <h3 th:text="'Страна: ' + ${el.country}"></h3>
        <h3 th:text="'Город: ' + ${el.city}"></h3>
        <p th:text="'Карткая информация: ' + ${el.name}"></p>
        <p><b>Просмотры:</b> <span th:text="${el.views}"/></p>
        <a th:href="'/hosts-offer/' + ${el.id}" class="btn btn-warning">Детальнее</a>
    </div>
    <div th:each="el : ${offerGuests}" class="alert alert-info mt-2">
        <h3 th:text="'Автор: ' + ${el.getAuthorName}"></h3>
        <h3 th:text="'Страна: ' + ${el.country}"></h3>
        <h3 th:text="'Город: ' + ${el.city}"></h3>
        <p th:text="'Карткая информация: ' + ${el.name}"></p>
        <p><b>Просмотры:</b> <span th:text="${el.views}"/></p>
        <a th:href="'/guests-offer/' + ${el.id}" class="btn btn-warning">Детальнее</a><br>
    </div>
    <div class="alert alert-info mt-2" th:if="${addOfferHost}">
        <center>
            <a th:text="${addOfferHost}" href="/offer-host-add" class="p-2 text-dark"></a>
        </center>
    </div>
    <div class="alert alert-info mt-2" th:if="${addOfferGuest}">
        <center>
            <a th:text="${addOfferGuest}" href="/offer-guest-add" class="p-2 text-dark"></a>
        </center>
    </div>
</div>


<style>
    .form-inline {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: baseline;
}
</style>

<div class="container mt-5" style="flex-grow:1">
    <h1>Комментарии к пользователю</h1>
    <div th:each="war : ${warning}" class="alert alert-info mt-2">
        <p th:text="${war}"/>
    </div>
    <div th:each="com : ${comment}" class="alert alert-info mt-2">
        <form class="form-inline">
            <pre style="background-blend-mode: overlay; white-space: break-spaces;font-size: x-large;">Автор:</pre>
            <a th:text="${com.getAuthorName}" th:href="'/user/id' + ${com.getAuthorId}" class="p-2 text-dark" style="font-size: x-large;"></a><br>
        </form>
        <pre th:text="${com.note}" style="background-blend-mode: overlay; white-space: break-spaces;font-size: x-large;"></pre>
    </div>
    <div>
        <form method="post">
            <input type="text" name="note" placeholder="Оставьте ваш комментарий" class="form-control"><br>
            <form th:action="'/user/id' + ${user.id} + '/addComment'" method="post">
                <button class="btn btn-warning" type="submit">Добавить</button>
            </form>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>